<div class="grid justify-content-center card">
  <div class="col-12 md:col-6 lg:col-3 sm:6">
    <div class="p-card">
      <div class="grid">
        <div class="col-12 text-center">
          <i class="fa-brands fa-connectdevelop fa-4x"></i>
          <h2>Influencer Connect</h2>
        </div>
        <div class="col-12">
          <label for="">Usuario</label>
          <input
            [(ngModel)]="requestLogin.email"
            type="text"
            class="col-12"
            pInputText
          />
        </div>
        <div class="col-12">
          <label for="">Senha</label>
          <input
            [(ngModel)]="requestLogin.password"
            type="password"
            class="col-12"
            pInputText
          />
        </div>
        <div class="col-12">
          <button
            (click)="doLogin()"
            pButton
            type="button"
            class="col-12"
            label="Entrar"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
